name: Publish

on:
  pull_request:
    branches:
      - '*'
jobs:
  cancel-previous:
    name: 'Cancel Previous Runs'
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

  publish-packages:
    runs-on: ubuntu-latest
    needs: cancel-previous
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '14'

      - name: Rush install
        run: node common/scripts/install-run-rush.js install

      - name: Build packages
        run: node common/scripts/install-run-rush.js build --verbose

      - name: Set npm credentials
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> $HOME/.npmrc

      - name: Publish packages
        run: node common/scripts/install-run-rush.js publish --include-all
